@{
    ViewData["Title"] = "I love Skiing";
}

<div class="text-center">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="icon" href="~/favicon.ico"> <!-- Custom icon -->
    </head>

    <header>
        <h1>Welcome to My Website about Skiing</h1> <!-- Heading introducing the site -->
    </header>
    <img src="~/img_0253.jpg" width="250" height="200" />
    <img src="~/img_9812.jpg" width="250" height="200" />
    <main>
        <section>
            <h2>Why I Love Skiing</h2>
            <p>
                Skiing is a passion of mine that I've been pursuing for many years. It's not just a sport; it's a way of life. The rush of gliding down the slopes, the breathtaking views, and the sense of freedom make skiing an unparalleled experience.
            </p>
            
            <p>
                Whether it's carving through fresh powder, mastering the terrain park, or enjoying a leisurely run down a groomed trail, skiing offers something for everyone. It's a perfect blend of adrenaline and relaxation, and it's an activity that I'm truly passionate about.
            </p>
            <p>
                Some of my favorite memories I have while skiing are with my 6 older brothers and my twin sister. They are my best friends and there is nothing like the feeling of all of us zooming down the mountain. It has been a great family hobby that we can all enjoy together throughout the rest of our lives. Because of this, skiing is worth the investment it takes to learn. 
            </p>
         
        </section>
    </main>

</div>
